<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/search.css">
    <title>Election Search Results</title>
  </head>
  <body>
    <ul>
      <% articles.hits.hits.forEach((article) => { %>
        <li>
          <a href=<%- article._source.url %>>
            <%- article._source.title %>
          </a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>