body {
  text-align: center;
}

div#searchform {
  position: absolute;
  top: 311px;
  min-width: 980px;
  width: 100%;
}
form#search {
  margin: 0 auto;
}

div.search_container {
  display: flex;
  border: 1px solid #dfe1e5;
  width: 482px;
  height: 44px;
  margin: 0 auto;
  border-radius: 24px;
}

div.inner_search_container {
  flex: 1;
  display: flex;
}

div.search_image {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

div.search_image>img {
  width: 20px;
  height: 20px;
  margin: 0px;
}

div.search_box_container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

input.search_box {
  border: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex: 100%;
  font-size: 16px;
  background-color: transparent;
}
input.search_box::focus {
  outline: none;
}